body{
    background-color: aliceblue;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
    padding: 20px;
}

p {
    color: palevioletred
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container ul li{
   display: inline;
   padding: 20px;
}
ul {
text-align: center;
background-color: aqua;
font-size: 32px;
}
ul::after{
    background-color: aquamarine;
}
a{
    text-decoration: none;
}
li:hover

#main-content{
    background-color: burlywood;
    font-weight: lighter;
    text-transform: uppercase;
}

.section-text{
    font-size: 18px;
    color: goldenrod;
    text-align: right;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}

footer{
background-color: blue;
padding: 20px;
}

.card-container{
    height: 80px;
    perspective: 350;
    width: 80px;
    position: relative;
}

.card{
height: 50%;
width: 50%;
position: absolute;
transform-style: preserve-3d;
transition: all 2s ease-in-out;
}


.card-front{
    backface-visibility: hidden;
    border-radius: 5px;
    height: 50%;
    width: 50%;
    position: absolute;
    overflow: hidden;
}

.card-back{
    background-color: darkcyan;
    color: black;
    line-height: 145px;
    text-align: center;
    transform: rotateY(180deg);
}
